.show-container{
	margin-left:40px;
	margin-top:30px;
}

.show-title{
	width:100%;
	height:50px;
}
.show-title h2{
	float:left;
	font-size:15px;
}
.show-title p{
	line-height:48px;
}


.show-body{
	width:100%;
}
.show-body h2{
	float:left;
	font-size:15px;
}
.show-body p{
	line-height:48px;
}